<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>管理-Login</title>
  <!-- Custom fonts for this template-->
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <!-- 新 Bootstrap4 核心 CSS 文件 -->
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
  <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.js"></script>
</head>

<body class="bg-gradient-primary">

  <div class="container" style="width:500px;align-content: center">
    <div class="row " >
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5" >
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">管理员登录</h1>
            </div>
            <form class="user" action="./admin/adminLoginPost" method="post" name="loginForm">
              <!--判断-->
              <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
              <div class="form-group">
                <input type="text" name="adminName" placeholder="Username" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp">
              </div>
              <div class="form-group">
                <input type="password" name="adminPassword" placeholder="Password" class="form-control form-control-user" id="exampleInputPassword">
                <!--<input type="hidden" name="type" id="type" value="">-->
              </div>
              <button id="btn3" type="button" class="btn btn-primary btn-user btn-block" onclick="adminLogin()">管理员登录</button>
              <hr>
            </form>
        </div>
       </div>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript">
  function adminLogin() {
    document.loginForm.submit();
  }
</script>
</html>
