<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script language="javascript">
        var out_trade_no = [[${msg}]];
        if(out_trade_no){
            alert("操作成功");
        }else{
            alert("操作失败");
        }
        // 返回上一页并刷新
        self.location=document.referrer;
    </script>
</head>
<body>
</body>
</html>